/* Prvent text selection (found at http://wiki.phonegap.com/iPhone:-Prevent-copy-paste and http://stackoverflow.com/questions/7059039/how-to-prevent-accidental-select-drag-highlight-on-webpage-when-drawing-off-html) */
.textSelectionDisabled {
   -moz-user-select: none;
   -webkit-user-select: none;
   -webkit-text-size-adjust: none;
   -ms-user-select: none;
   user-select: none;
}

body {
   margin: 10px !important;
   font-family: "Gill Sans Light", Verdana, Arial, sans-serif !important;
   font-size: 10pt !important;
}

/* Disable the outline when clicking on plots/axes */
:focus {
   outline: none;
}

::-moz-focus-inner {
   border: 0;
}

.plotContainer {
   height: 200px;
   border: 1px solid black;
}

.plot {
   height: 200px;
}

#dateAxisContainer {
   height: 70px;
   border: 1px solid black;
   border-bottom-width: 0;
}

#dateAxis {
   width: auto;
   height: 70px;
   z-index: 2;
}

.axisCell {
   width: 50px;
   height: 200px;
}

.yAxisContainer {
   width: 50px;
   height: 200px;
   border: 1px solid black;
   border-left-width: 0;
}

.yAxis {
   width: 50px;
   height: 200px;
}

#valueLabel {
   width: auto;
   min-width: 200px;
   text-align: right;
   padding: 0 5px 0 5px;
   margin-top: -20px;
   z-index: 1;
}
