/* Prvent text selection (found at http://wiki.phonegap.com/iPhone:-Prevent-copy-paste and http://stackoverflow.com/questions/7059039/how-to-prevent-accidental-select-drag-highlight-on-webpage-when-drawing-off-html) */
.textSelectionDisabled {
   -moz-user-select: none;
   -webkit-user-select: none;
   -webkit-text-size-adjust: none;
   -ms-user-select: none;
   user-select: none;
}

body {
   margin: 10px !important;
   font-family: "Gill Sans Light", Verdana, Arial, sans-serif !important;
   font-size: 10pt !important;
}

/* Disable the outline when clicking on plots/axes */
:focus {
   outline: none;
}

::-moz-focus-inner {
   border: 0;
}

#main_panel {
   display: none;
}

#legend {
   width: 300px;
   min-width: 300px;
   max-width: 300px;
}

#legend td {
   font-size: 8pt;
}

.legendColor {
   border: 1px solid black;
   width: 20px;
   height: 20px;
   min-width: 20px;
   min-height: 20px;
   max-width: 20px;
   max-height: 20px;
   line-height: 20px;
}

#mapArea {
   border: 1px solid black;
   width: auto;
   height: 400px;
   background-color: lightcyan;
}

#grapher_area {
   display: none;
}

#dateAxisContainer {
   height: 60px;
   border: 1px solid black;
   border-top-width: 0;
   border-bottom-width: 0;
}

#dateAxis {
   width: auto;
   height: 60px;
   z-index: 2;
}

.axisCell {
   width: 47px;
   height: 200px;
}

.yAxisContainer {
   width: 47px;
   height: 200px;
   border: 1px solid black;
   border-left-width: 0;
}

.yAxis {
   width: 47px;
   height: 200px;
}

.yAxisColor {
   height: 5px;
   margin-bottom: 3px;
   border-right: 1px solid black;
}

.plotContainer {
   height: 200px;
   border: 1px solid black;
}

.plot {
   height: 200px;
}

.timespanPlotContainer {
   height: 30px;
}

.timespanPlot {
   height: 30px;
}

.timespanYAxisContainer {
   width: 47px;
   height: 30px;
}

.timespanYAxis {
   width: 47px;
   height: 30px;
}

#valueLabel {
   width: auto;
   height: 20px;
   text-align: right;
   z-index: 1;
   padding: 0 5px 0 5px;
}

.valueLabelText {
   font-size: 8pt;
   display: none;
   color: #666666;
   width: auto;
   text-align: right;
}

.valueLabelColor {
   display: none;
   border: 1px solid black;
   width: 10px;
   height: 10px;
   min-width: 10px;
   min-height: 10px;
   max-width: 10px;
   max-height: 10px;
   line-height: 10px;
   margin-left: 5px;
}

#timeLabel {
   text-align: left;
   width: 203px;
   min-width: 203px;
   max-width: 203px;
   color: #666666;
   margin-left: 2px;
}

#animationTimeLabel {
   text-align: center;
   color: #666666;
   margin-top: 5px;
}

.channelInfo {
   display: table-cell;
   border-bottom: 1px solid black;
   border-right: 1px solid black;
   border-top: none;
   font-size: 8pt;
}

.channelInfo td {
   font-size: 8pt;
}

.channelInfoLabel {
   font-weight: bold;
}

.channelInfo:first-of-type {
   border-left: 1px solid black;
}

.deviceName {
   font-size: 10pt;
   font-weight: bold;
}

.closeButton {
   width: 16px;
   height: 16px;
   background: url("../img/close_button.png") no-repeat;
   cursor: pointer;
}